/* .portfolio-wrapper {
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

.portfolio-image:hover {
  transform: rotate(-3deg);
}

.portfolio-wrapper {
  background-image: linear-gradient(180deg, rgb(34, 8, 1), #121212 50%);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  color: var(--primary-orange);
  font-family: "Amatic SC", cursive;
}

.portfolio-image {
  width: 25%;
  box-shadow: 0.3125rem 0.3125rem #050505;
  border-radius: 5%;
}

.portfolio-image-box {
  padding: 10px;
}
 */

/*******************OVERFLOW**************************/

/* .overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 15rem;
  top: 0;
  border: 3px solid var(--primary-orange-darker);
  border-radius: 10%;
  cursor: pointer;
} */

/* .portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
} */

/* .portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-orange);
  font-size: 1.5rem;
} */
/* 
.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
 */










/* -------------MEDIA-------------- */
@media (max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
    height: 90%;
  }
  .portfolio-image {
    display: flex;
    margin: auto;
  }
}

@media (max-height: 1080px) {
  /* .popupbox-wrapper {
    height: 90%;
  } */
  .portfolio-image-popupbox {
    width: 50%;
    height: 60%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .portfolio-image-popupbox {
    width: 50%;
    height: 60%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 75%;
  }
  .portfolio-image-popupbox {
    width: 30%;
  }
}
