@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-orange-darker: #bd6a0c;
  --primary-dark: rgba(52, 58, 64);
  --primary-black: #000;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-blue: #3fe3f7;
  --primary-light-gray: #f4f4f4;
  --primary-gray: #ccd1d9;
  --primary-dark-gray: #666666;
  --dark-mode: #121212;
  --about-me-orange: rgb(95, 44, 2);
}

body {
  font-family: "Roboto Condesed", sans-serif !important;
}

/*******************HEADER**************************/

.header-wrapper {
  position: relative;
  background: url(images/background.jpg);
  filter: brightness(85%);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Amatic SC", cursive;
  z-index: 1;
}

.main-info span {
  color: var(--primary-blue);
  text-transform: uppercase;
  font-size: 48px;
}

.typed-text span {
  font-size: 2rem;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.animate__animated.animate__fadeInBottomRight {
  border: 3px outset var(--primary-orange-darker);
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.animate__animated.animate__fadeInBottomRight:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

.btn-main-offer {
  border: 3px outset var(--primary-orange-darker);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #b0b0b0;
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}
